:root {
    --primary-color: #273b51;
    --white: #fafafa;
    --black: #1a1a1a;
    --transition: all 0.3s ease;

    --font-primary: 'Barlow Condensed', sans-serif;
    --font-secondary: 'Anek Bangla', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('fonts/barlow-condensed.regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('fonts/AnekBangla-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    overscroll-behavior: none;
    color: var(--black);
    background-color: var(--white);
    font-family: var(--font-primary);
}

h1 {
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.7rem;
    font-family: var(--font-primary);
    font-weight: 100;
}

h3 {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: 100;
}

h4 {
    font-size: 1.3rem;
    font-family: var(--font-primary);
    font-weight: 100;
}

p,
li,
strong,
button,
li {
    font-family: var(--font-secondary);
    font-size: 1.18rem;
    line-height: 1.4;
    font-weight: 100;
}

a,
span {
    font-size: 1.18rem;
    line-height: 1.4;
    font-weight: 100;
    font-family: var(--font-primary);
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.hamburger-btn {
    display: none;
    background: var(--primary-color);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    transition: all 0.3s ease;
}

.hamburger-btn span {
    width: 20px;
    height: 2px;
    background: var(--white);
    transition: all 0.3s ease;
}

.hamburger-btn.active {
    background: var(--white);
}

.hamburger-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 5px);
    background-color: var(--primary-color);
}

.hamburger-btn.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -6px);
    background-color: var(--primary-color);

}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: var(--white);
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 80px 30px 30px;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu-content {
    display: flex;
    flex-direction: column;
}

.mobile-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 0;
    transition: color 0.3s ease;
}

.mobile-social-links {
    display: flex;
    gap: 20px;
    justify-content: left;
    flex-direction: column;
    padding: 20px 0;
}

.mobile-social-links a {
    color: black;
    font-size: 24px;
    border: none;
    padding: 10px;
}

@media (max-width: 768px) {
    .header {
        display: none;
    }

    .hamburger-btn {
        display: flex;
    }

    .hamburger-btn.visible {
        opacity: 1;
    }
}

@media (min-width: 769px) {
    .hamburger-btn {
        display: none;
    }

    .hamburger-btn.visible {
        opacity: 0;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    padding: 10px 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.scrolled {
    background: var(--white);
    box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    position: relative;
    width: auto;
    height: 60px;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 60px;
    transition: opacity 1s ease;
}

.logo-white {
    opacity: 1;
}

.logo-black {
    opacity: 0;
}

.header.scrolled .logo-white {
    opacity: 0;
}

.header.scrolled .logo-black {
    opacity: 1;
}

.nav {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
}

.header.scrolled .nav a {
    color: var(--black);
}

.nav a:hover {
    color: var(--white);
}

.border-effect {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 5px 10px;
}

.border-effect::before,
.border-effect::after,
.border-effect span {
    content: "";
    position: absolute;
    background: var(--white);
    transition: all 0.3s ease;
}

.header.scrolled .border-effect::before,
.header.scrolled .border-effect::after,
.header.scrolled .border-effect span {
    background: var(--black);
}

.border-effect .line-bottom {
    height: 1.5px;
    width: 0%;
    bottom: 0;
    left: 0;
}

.border-effect .line-right {
    width: 1.5px;
    height: 0%;
    right: 0;
    bottom: 0;
}

.border-effect .line-top {
    height: 1.5px;
    width: 0%;
    top: 0;
    right: 0;
}

.border-effect .line-left {
    width: 1.5px;
    height: 0%;
    top: 0;
    left: 0;
}

.social-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease;
}

.header.scrolled .social-link {
    color: var(--black);
}

.social-link:hover {
    text-decoration: underline;
}

.header.scrolled .social-link:hover {
    color: var(--black);
}

.footer {
    background: var(--black);
    color: var(--white);
    padding: 3rem 2rem 1rem;
    text-align: center;
}

.footer-logo img {
    width: auto;
    height: 100px;
    margin-bottom: 20px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin-bottom: 2rem;
}

.footer-nav a {
    text-decoration: none;
    color: var(--white);
    transition: var(--transition);
}

.footer-nav a:hover {
    color: var(--primary-color);
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-social i {
    font-size: 1.8rem;
    color: var(--white);
    transition: var(--transition);
}

.footer-social i:hover {
    color: var(--primary-color);
}

.footer-copyright {
    border-top: 1.5px solid #333;
    padding-top: 1rem;
}