:root {
    /* Colores */
    --color-azul-oscuro: #273b51;

    --font-primary: 'Barlow Condensed', sans-serif;
    --font-secondary: 'Anek Bangla', sans-serif;

    --font-size-h1: 2.5rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.75rem;
    --font-size-p: 1.05rem;
    --font-size-small: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('./fonts/barlow-condensed.regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('./fonts/AnekBangla-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-size: var(--font-size-p);
    line-height: 1.6;
    letter-spacing: 2px;
    overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    max-width: 1200px;
    gap: 20px;
    white-space: nowrap;

}

h1::before,
h1::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #000000;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 100;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 100;
}

p {
    margin: 0 0 1rem 0;
    font-family: var(--font-secondary);
    font-size: var(--font-size-p);
    color: var(--color-azul-oscuro);
}

.button-glass {
    background: var(--color-azul-oscuro);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: .95rem;
    cursor: pointer;
    width: fit-content;
    gap: 12px;
    transition: all 0.3s ease;
}

.button-glass:hover {
    transform: translateY(-2px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}