@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3e4dd;
    font-family: 'Roboto Flex', sans-serif;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    max-width: 1200px;
    margin-top: 3rem;
}

.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 250px;
    width: 60%;
    margin-bottom: 2rem;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

.botones {
    background-color: #172826;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    width: 100vw;
    /* Fuerza que abarque todo el ancho de la pantalla */
    position: relative;
    /* Asegura que no se hereden restricciones extrañas */
    left: 51.5%;
    /* Centra compensando el cambio de width */
    transform: translateX(-50%);
}


.botones button {
    font-family: inherit;
    font-weight: 300;
    font-size: clamp(1.2rem, 2vw, 2rem);
    padding: 1rem 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #e3e4dd;
    transition: transform .3s ease;
    opacity: 1;
    transform: none;
}

.botones button:hover {
    transform: scale(0.95);
}

.izquierda,
.derecha {
    width: 100%;
    color: #172826;
    text-align: left;
}

.izquierda .title,
.derecha .title {
    font-size: 2.7rem;
    margin-bottom: 1rem;
}

.texto {
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.faq {
    border-bottom: 1px solid #172826;
    padding-bottom: 1rem;
    margin-top: 1.6rem;
    cursor: pointer;
}

.question {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.answer {
    padding-top: 10px;
    font-size: 1.5rem;
    font-style: italic;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s;
}

.faq.active .answer {
    max-height: 100px;
}

.faq svg {
    transition: transform .5s ease-in;
}

.faq.active svg {
    transform: rotate(180deg);
}

@media (min-width: 768px) {
    .contenido {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .izquierda,
    .derecha {
        flex: 1;
        max-width: 50%;
    }

    .izquierda {
        padding-right: 2rem;
    }

    .derecha {
        padding-left: 2rem;
    }
}