.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 95%;
    margin: 0 auto;
}

.project-card {
    background-color: #e3e5de;
    width: 100%;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.project-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.thumb {
    position: relative;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.thumb::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: background-color 0.3s ease-in-out;
}

.project-card.active .thumb::after {
    background-color: rgba(0, 0, 0, 0.5);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 8px 12px;
    color: #e3e5de;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    z-index: 3;
}

.details {
    background-color: #e3e5de;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
    margin: 0 10px 0 10px;
}

.project-card.active .details {
    max-height: 800px;
    transition: max-height 1.5s ease;
}

.detail {
    width: 100%;
    overflow: hidden;
}

.detail img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.lightbox.hidden {
    display: none;
}

.lightbox-img {
    max-width: 90%;
    max-height: 80%;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.prev-btn {
    left: 30px;
}

.next-btn {
    right: 30px;
}

footer {
    width: 100%;
    background-color: #e3e5de;
    color: #1f1f11;
    margin: 1rem auto;
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
}

footer .footer-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

footer .mapa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

footer .info,
footer .info-mapa,
footer .contacto {
    flex: 1 1 250px;
    min-width: 250px;
}

footer .info h1,
footer .info-mapa h1,
footer .form-content h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

footer .info p,
footer .info-mapa p,
footer .numeros {
    font-size: 1rem;
}

footer .mapita iframe {
    width: 100%;
    max-width: 450px;
    height: 300px;
    border: none;
    border-radius: 10px;
}

footer .redes-sociales {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin: 15px 0;
    padding: 0;
}

footer .redes-sociales i {
    font-size: 2.5rem;
    color: #1f1f11;
    transition: color 0.3s ease;
}

footer .redes-sociales i:hover {
    color: rgb(133, 137, 136);
}

footer .numeros {
    list-style: none;
    padding: 0;
    line-height: 2;
}

footer .numeros i {
    margin-right: 10px;
    color: #1f1f11;
}

footer .form-content {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    color: #1f1f11;
}

footer .form-content h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

footer .form-content input,
footer .form-content textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffffff;
    border: none;
}

footer .form-content button {
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #1f1f11;
    color: #e3e5de;
    border: 1px solid #e3e5de;
    transition: background-color 0.3s ease;
}

footer .form-content button:hover {
    border: none;
    color: #172826;
    background-color: #e3e5de;
}

.error {
    color: red;
    font-size: 0.9em;
    display: block;
    margin: -10px 0 10px;
}

@media (max-width: 768px) {
    .mapa {
        flex-direction: column;
        gap: 20px;
    }

    .info,
    .info-mapa,
    .contacto {
        flex: 1 1 300px;
        min-width: 250px;
    }

    .mapita iframe {
        max-width: 100%;
        height: 250px;
    }

    .form-content {
        max-width: 100%;
        padding: 15px;
    }
}