@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --color-bg: #e8e7e5;
    --color-text: #1f1f11;
    --color-footer-bg: #1f1f11;
    --color-white: #fff;
    --color-hover: #9fcaff;
    --color-social-hover: #bbb;
    --font-main: 'Roboto Flex', sans-serif;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    background: var(--color-bg);
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 20px 0 0 10px;
    font-weight: 100;
    background: inherit;
    z-index: 10;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    opacity: 0;
    transition: opacity .5s;
}

.menu ul.show {
    opacity: 1;
}

.menu li {
    padding-top: 15px;
}

.menu a {
    color: #192827;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background: transparent;
    display: inline-block;
}

.menu a {
    transition: transform .2s ease-in-out;
    transform: none;
}

.menu a:hover {
    transform: scale(0.98);
}

/* Portafolio */
.portfolio {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.project-card {
    width: 100%;
    margin: 0;
    background: var(--color-white);
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}

.project-card.active {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.thumb {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.thumb::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.project-card.active .thumb::after {
    background-color: rgba(0, 0, 0, 0.5);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 8px 12px;
    color: #e3e5de;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    z-index: 3;
}

.details {
    background-color: #e3e5de;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s ease;
}

.project-card.active .details {
    max-height: 2000px;
}

.detail {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.detail img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.lightbox.hidden {
    display: none;
}

.lightbox-img {
    max-width: 90%;
    max-height: 80%;
}


.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.prev-btn {
    left: 30px;
}

.next-btn {
    right: 30px;
}


footer {
    width: 100%;
    background-color: #192827;
    color: #e3e5de;
    padding: 40px 20px;
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
}

footer .footer-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

footer .mapa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

footer .info,
footer .info-mapa,
footer .contacto {
    flex: 1 1 300px;
    min-width: 250px;
}

footer .info h1,
footer .info-mapa h1,
footer .form-content h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

footer .info p,
footer .info-mapa p,
footer .numeros {
    font-size: 1rem;
}

footer .mapita iframe {
    width: 100%;
    max-width: 450px;
    height: 300px;
    border: none;
    border-radius: 10px;
}

footer .redes-sociales {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin: 15px 0;
    padding: 0;
}

footer .redes-sociales i {
    font-size: 2.5rem;
    color: #e3e5de;
    transition: color 0.3s ease;
}

footer .redes-sociales i:hover {
    color: rgb(133, 137, 136);
}

footer .numeros {
    list-style: none;
    padding: 0;
    line-height: 2;
}

footer .numeros i {
    margin-right: 10px;
    color: var(--color-white);
}

footer .form-content {
    max-width: 500px;
    margin: 0 auto;
    background-color: #192827;
    border-radius: 10px;
    color: #e3e5de;
}

footer .form-content h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

footer .form-content input,
footer .form-content textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #e3e5de;
    border: none;
}

footer .form-content button {
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #172826;
    color: #e3e5de;
    border: 1px solid #e3e5de;
    transition: background-color 0.3s ease;
}

footer .form-content button:hover {
    border: none;
    color: #172826;
    background-color: #e3e5de;
}

.error {
    color: red;
    font-size: 0.9em;
    display: block;
    margin: -10px 0 10px;
}

@media (max-width: 768px) {
    .mapa {
        flex-direction: column;
        gap: 20px;
    }

    .info,
    .info-mapa,
    .contacto {
        flex: 1 1 300px;
        min-width: 250px;
    }


    .mapita iframe {
        max-width: 100%;
        height: 250px;
    }

    .form-content {
        max-width: 100%;
        padding: 15px;
    }
}